body {
  text-align: center;
}

.nibhhago {
  display: flex;
  flex-wrap: wrap;
} 


.nibhhago > .link {
  text-align:  center;
  width: 300px;
  box-shadow: 0 0 10px #463636;  
  margin: 10px ;

}

.nibhhago > .link:hover {
 
  background-color: lightgray;

} 